
@{
    ViewBag.Title = "Sign In";
}


@{
    ViewBag.Title = "Register";
}

<div class="card col-sm-10" align="center">
    <div class="card-header">
        <h2>Sign in</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Submit", "Account"))
        {
            <fieldset class="col-sm-7">
                <p>
                    <label class="col-sm-3 control-label" for="Email">Email:</label>
                    @Html.TextBox("Email")
                    @Html.ValidationMessage("Email", "*")
                </p>
                <p>
                    <label class="col-sm-3 control-label" for="Password">Password:</label>
                    @Html.TextBox("Password")
                    @Html.ValidationMessage("Password", "*")
                </p>
                <p>
                    <input class="btn btn-primary btn-block" type="submit" value="Sign In" />
                </p>
            </fieldset>
        }

        <div class="col-sm-10">
            @Html.ActionLink("Back to Home", "Index")
        </div>
    </div>
</div>

